/* tailwind css */
@import 'tailwindcss';
@plugin "daisyui";

/* google font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand&display=swap');

@theme {
  --font-inter: "Inter", sans-serif;
}

.features_slider>.slick-slider>.slick-prev:before,
.features_slider>.slick-slider>.slick-next:before {
    font-size: 39px !important;
    color: #007580;
}
